@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito:wght@400;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1, h2, h3, h4{
  font-family: 'Nunito', sans-serif;
}

p, h4{
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

aside div.box{
  border: 1px solid #E9ECEF;
    padding: 25px;
    margin-bottom: 10px;
}

main{
  display: flex;
  flex-direction: column;
 justify-content: space-evenly;
 background-color: white;
}

@media screen and (min-width: 700px){
  main{
    flex-direction: row;
  }
}